body {
    background-color: #625F5F;
}

#header {
    position: fixed;
    width: 99%;
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    padding: 7px;
    flex-wrap: wrap;
}

#menu {
    font-size: 20px;
    color: #FFFFFF
}

#date-time {
    font-size: 20px;
    color: #FFFFFF;
    order: 2;
}

#main-content {
    text-align: center;
    padding-top: 250px; /* Adjusted padding-top */
}

#circle-graphic {
    width: 200px;
    height: 200px;
    background-color: Black;
    border-radius: 70%;
    margin: 0 auto;
    overflow: hidden;
}

#circle-graphic img {
  width: 100%;
  height: 100%;
}

body {
    overflow-x: hidden;
    overflow-y: scroll;
}

#form-box {
    background-color: #424242;
    width: 220px; /* Adjust as needed */
    padding: 10px;
    margin: 220px auto;
    color: #FFFFFF; /* This will make the text color white */
}

#form-box label,
#form-box input {
    display: block;
    margin-bottom: -7px;
}

#form-box input[type="submit"] {
    cursor: pointer;
}

#sidebar {
    position: fixed;
    width: 0px;
    height: calc(100% - 50px);
    top: 50px;
    background-color: #424242;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 20px; 
    padding-bottom: 50px;
}

#sidebar ul {
    list-style-type: none;
    padding: 100;
    color: white;
}

#sidebar ul li {
    margin-bottom: 20px;
}

#sidebar .bottom {
    margin-top: auto;
}

#menu .bar {
    width: 35px;
    height: 2px;
    background-color: #FFFFFF;
    margin: 6px 0;
}

#splash-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* This makes it take up the full height of the viewport */
}

#search-bar {
    display: flex;
    align-items: center;
    position: relative;
    order: 1;
}

#search-input {
    border-radius: 15px;
    border: none;
    padding: 5px;
}

#search-icon {
    width: 20px; /* Adjust as needed */
    height: 20px; /* Adjust as needed */
    position: absolute;
    right: 5px;
}

#floating-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #000000;
    color: #FFFFFF;
    border: none;
    text-align: center;
    font-size: 30px;
    cursor: pointer;
}

#blog-post {
    display: block;
    background-color: #f5f5dc;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 80%;
    margin: 10px auto;
}

#blog-posts h2 {
    margin: 0;
    font-weight: bold;
}

#icon-container {
    display: flex;
    gap: 10px;
}

#icon {
    width: 5px;
    height: 5px;
    cursor: pointer;
}
#create-form {
    margin-top: 10px; /* Adjust as needed */
}
/* Add this new rule */
#form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 50px);  /* Adjust as needed */
}
#login-form {
    background-color: #424242;
    width: 220px; /* Adjust as needed */
    padding: 10px;
    margin: 220px auto;
    color: #FFFFFF; /* This will make the text color white */
}

#login-form label,
#login-form input {
    display: block;
    margin-bottom: -7px;
}

#login-form input[type="submit"] {
    cursor: pointer;
}
#register-form {
    background-color: #424242;
    width: 220px;
    padding: 10px;
    margin: 220px auto;
    color: #FFFFFF;
}
#register-form label,
#register-form input {
    display: block;
    margin-bottom: -7px;
}
#register-form input[type="submit"] {
    cursor: pointer;
}
#form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh; /* Adjust as needed */
}
#form-container2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#edit-form,#title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
